[server]
addr = ":9990"  # 服务运行地址
pprof = true    # 是否开启pprof server

[pprof]
addr = ":6060"  # pprof server运行地址

[log]
level = "debug" # 日志级别
format = "json" # 日志格式
output = "stdout"   # 日志输出

[runtime]
goroutine_num = 4096  # server处理数据的goroutine数量
